@using Afsw.Command.Templates.TemplateModels
@model PostTemplateModel

<!DOCTYPE html>
<html>
<body>
    <header><h1>@Model.Title</h1></header>
    <content>
        @Html.Raw(@Model.ContentHtml)
    </content>
    <footer>@Model.AuthorName - @Model.PublishedOn</footer>
</body>
</html>